.a-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 978px;
  .a-nav_item {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    line-height: 48px;
    padding: 0 10px;
    @media only screen and (min-width: 765.01px) {
      height: 48px;
      &:first-child {font-size: 20px;}
      &:nth-child(9) {font-size: 18px;}
      &:nth-child(10) {font-size: 18px;}
      &:hover {
        opacity: .65;
        }
    }
  }
}
